.sp-controls {
  right: 0;
  left: 0;
  padding: 30px 15px 15px;
  position: absolute;
  bottom: 0;
  transition: all 0.2s ease;
  border-bottom-right-radius: $video-radius;
  border-bottom-left-radius: $video-radius;
 // overflow: hidden;

  &--hidden {
    opacity: 0;
    pointer-events: none;
  }

  button {
    display: flex;
    cursor: pointer;
    position: relative;
    font-size: 12px;
    border: none;
    outline: none;
    background-color: transparent;
    margin-left: 17px;

    &:last-child {
      //margin-right: 3px;
    }
  }

  button * {
    pointer-events: none;
  }

  &__shadow {
    opacity: 0.8;
    background-image: $g-shadow-bottom;
    border-bottom-left-radius: $video-radius;
    border-bottom-right-radius: $video-radius;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__bottom {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      svg {
        height: 22px;
        fill: #fff !important;
        cursor: pointer;
        g {
          fill: #fff !important;
        }

        path, polygon {
          transition: $t-basic;
        }
      }

      &.sp-active {

        .close-fullscreen-icon {
          display: block;
        }
        .fullscreen-icon {
          display: none;
        }

      }

      &:hover svg path, &:hover svg polygon {
        fill: $pastel;
      }


      &:hover svg g {
        fill: $pastel;
      }
    }
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
    color: #fff;
  }

  // control buttons
  .sp-play{
    margin-left: 8px;
    button{

      margin-left: 0;

      svg {
        width: 17px;
      }
    }
  }

  &__subtitles {
  }

  &__fullscreen {
      svg {
        width: 22px;
    }

    .close-fullscreen-icon {
      display: none;
    }

  }

  &__cinematic {
    svg {
      width: 37px;
      height: 28px;
    }
  }

    &__button {

    span {
      border-radius: $progress-bar-radius;
      background-color: $white;
      padding:0 10px;
      height: 22px;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      color: $black;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: $t-basic;
    }

    &:hover span,
    &.sp-active span {
      background-color: $pastel;
    }
  }
}
