.sp-controls {
  right: 0;
  left: 0;
  padding: 30px 7px 15px;
  position: absolute;
  bottom: 0;
  transition: all 0.2s ease;
  border-bottom-right-radius: $borderRadius;
  border-bottom-left-radius: $borderRadius;

  &--hidden {
    opacity: 0;
    pointer-events: none;
  }

  button {
    display: flex;
    cursor: pointer;
    position: relative;
    font-size: 12px;
    border: none;
    outline: none;
    background-color: transparent;
    margin-left: 17px;
    font-family: 'Montserrat-bold', sans-serif;

    &:last-child {
      //margin-right: 3px;
    }
  }

  button * {
    pointer-events: none;
  }

  &__shadow {
    opacity: 0.8;
    background-image: $g-shadow-bottom;
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__bottom {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      svg {
        height: 22px;
        fill: $iconPrimaryColor !important;
        cursor: pointer;
        g {
          fill: $iconPrimaryColor !important;
        }

        path, polygon {
          transition: $t-basic;
        }
      }

      &.sp-active {

        .close-fullscreen-icon {
          display: block;
        }
        .fullscreen-icon {
          display: none;
        }

      }

      &:hover svg path, &:hover svg polygon {
        fill: $iconActiveColor;
      }


      &:hover svg g {
        fill: $iconActiveColor;
      }
    }
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
    color: #fff;
  }

  // control buttons
  .sp-play{

    &__button{

      svg {

        width: 17px;

      }

      .sp-play-icon {

        path {

          d: path("M 13.51 7.681 l 9.252 13.57 c 0.945 1.386 0.587 3.276 -0.799 4.221 c -0.504 0.344 -1.1 0.528 -1.711 0.528 H 1.748 C 0.07 26 -1.29 24.64 -1.29 22.962 c 0 -0.61 0.184 -1.207 0.528 -1.711 L 8.49 7.68 c 0.945 -1.386 2.835 -1.743 4.221 -0.798 c 0.314 0.214 0.585 0.485 0.8 0.798 Z");
          transform: rotate(90deg) translateX(8%) translateY(-9%);

        }

      }

      .sp-pause-icon {

        path {

          d: path("M 14.016 5.016 h 3.984 v 13.969 h -3.984 v -13.969 Z M 6 18.984 v -13.969 h 3.984 v 13.969 h -3.984 Z");

        }

      }

    }

  }

  &__subtitles {
  }

  &__fullscreen {

    .fullscreen-icon {

        width: 22px;

      path {

        d: path("M 1.5 17 c 0.828 0 1.5 0.672 1.5 1.5 v 5 h 5 c 0.828 0 1.5 0.672 1.5 1.5 s -0.672 1.5 -1.5 1.5 H 1.5 C 0.672 26.5 0 25.828 0 25 v -6.5 c 0 -0.828 0.672 -1.5 1.5 -1.5 Z M 25 17 c 0.828 0 1.5 0.672 1.5 1.5 V 25 c 0 0.828 -0.672 1.5 -1.5 1.5 h -6.5 c -0.828 0 -1.5 -0.672 -1.5 -1.5 s 0.672 -1.5 1.5 -1.5 h 5 v -5 c 0 -0.828 0.672 -1.5 1.5 -1.5 Z M 8 0 c 0.828 0 1.5 0.672 1.5 1.5 S 8.828 3 8 3 H 3 v 5 c 0 0.828 -0.672 1.5 -1.5 1.5 S 0 8.828 0 8 V 1.5 C 0 0.672 0.672 0 1.5 0 Z m 17 0 c 0.828 0 1.5 0.672 1.5 1.5 V 8 c 0 0.828 -0.672 1.5 -1.5 1.5 s -1.5 -0.672 -1.5 -1.5 V 3 h -5 c -0.828 0 -1.5 -0.672 -1.5 -1.5 S 17.672 0 18.5 0 H 25 Z");

      }

    }

    .close-fullscreen-icon {

      display: none;

      path {

        d: path("M 17.321 25.471 V 18.849 a 1.528 1.528 0 0 1 1.528 -1.528 h 6.622 a 1.528 1.528 0 1 1 0 3.056 H 20.377 v 5.094 a 1.528 1.528 0 1 1 -3.056 0 Z m -10.7 0 V 20.377 H 1.529 a 1.528 1.528 0 1 1 0 -3.056 H 8.151 A 1.528 1.528 0 0 1 9.68 18.849 v 6.622 a 1.528 1.528 0 1 1 -3.056 0 Z M 18.849 9.68 a 1.528 1.528 0 0 1 -1.528 -1.528 V 1.529 a 1.528 1.528 0 1 1 3.056 0 V 6.623 h 5.094 a 1.528 1.528 0 1 1 0 3.056 Z m -17.32 0 a 1.528 1.528 0 1 1 0 -3.056 H 6.623 V 1.529 a 1.528 1.528 0 1 1 3.056 0 V 8.151 A 1.528 1.528 0 0 1 8.151 9.68 Z");

      }

    }

    margin-right:17px !important;

  }

  &__cinematic {
    svg {
      width: 37px;
      height: 28px;
    }
  }

    &__button {

    span {
      border-radius: $progress-bar-radius;
      background-color: $iconPrimaryColor;
      padding:0 10px;
      height: 22px;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      color: $iconSecondaryColor;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: $t-basic;
    }

    &:hover span,
    &.sp-active span {
      background-color: $iconActiveColor;
    }
  }
}
