.sp-error {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: $black;
  border-radius: $video-radius;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';

  svg {
    width: 60px;
    height: 60px;
  }

  span {
    color: $white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
}
