.sp-live-icon {
  min-width: 60px;
  height: 31px;
  border-radius: 20px;
  // background-color: $pinkish-red;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: relative;
  right: 0;
  top: 0;
  margin-left: 12px;

  &__text {
    padding: 4px 0 5px 4px;
    font-size: 12px;
    font-family: 'Montserrat-Bold', sans-serif;
    color: $pinkish-red;
  }

  svg {

    padding-left: 10px;

  }
}
