.sp-live-icon {
  min-width: 80px;
  height: 31px;
  border-radius: 20px;
  // background-color: $pinkish-red;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: relative;
  right: 0;
  top: 0;
  margin-left: 12px;

  &__text {
    padding: 4px 10px 5px 4px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: $pinkish-red;
  }

  svg {
    padding-left: 10px;
  }
}
