.sp-playback {
  cursor: pointer;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: calc(102px / -2);
  margin-top: calc(102px / -2);
  width: 102px;
  height: 102px;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;

  @media (min-width: $laptop-min) {
    margin-left: calc(142px / -2);
    margin-top: calc(130px / -2);
    width: 142px;
    height: 142px;
  }

  svg > g {
    box-shadow: $bs-play-icon;
  }

  &--hidden {
    opacity: 0;
  }

  &:hover svg g {
    fill: $pastel;
  }
}
