.sp-resolution {

  button {

    height: 22px;

  }

  &__button {
    background-color: $white;
    min-width: 44px;
    border-radius: $progress-bar-radius;

    span {
      font-size: 14px;
      font-family: 'Montserrat-Bold', sans-serif;
      text-align: center;
      color: $black;
    }
  }
}
