.sp-header {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  transition: all 0.2s ease !important;
  padding: 14px 15px 0 15px !important;
  pointer-events: none !important;
  display: flex !important;
  justify-content: space-between !important;
  border-radius: $borderRadius !important;
  overflow: hidden !important;

  &__shadow {
    opacity: 0.8 !important;
    transform: rotate(-180deg) !important;
    background-image: linear-gradient(to bottom, rgba($dark, 0), $dark) !important;
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
  }

  &__wrapper {
    position: relative !important;
    z-index: 2 !important;


    h2, p {
      margin: unset !important;
    }
  }

  &__text {
    font-family: 'Montserrat-Bold', sans-serif !important;
  }

  &__title {
    font-size: 22px !important;
    margin-bottom: 0 !important;
    color: $titleColor !important;

    &.tiny {
      font-size: 14px !important;
    }

    &.narrow {
      font-size: 16px !important;
    }

  }

  &__sub-title {
    font-family: 'Montserrat', sans-serif !important;
    padding-top:5px;
    display: block !important;
    font-size: 16px !important;
    font-weight: normal;
    color: $descColor !important;

    &.tiny {
      display:none !important;
    }

    &.narrow {
      font-size: 12px !important;
    }

  }

  &__hidden {
    opacity: 0 !important;
  }
}