.sp-waiting-room {
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: $borderRadius;
  background-color: $backgroundColor;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
 z-index: 10;
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .5);
    text-align: center;

    .title {
      font-size: 20px;
      font-weight: 700;
      color: $white !important;
    }

    .countdown {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding: 20px 0;

      .counter {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 128px;
        height: 128px;
        font-size: 54px;
        font-weight: 700;

        span:nth-child(3) {
          font-size: 12px;
        }

        .progress-ring {
          position: absolute;
          top: 0;
          left: 0;

          stop:nth-child(1) {
            stop-color: $waitingRoomRing1;
          }

          stop:nth-child(2) {
            stop-color: $waitingRoomRing2;
          }

          circle {
            r: 60px;
            cx: 64px;
            cy: 64px;
            fill: transparent;
            stroke-dashoffset: 0;
            stroke-dasharray: 377;
            stroke-width: 1px;
            transform: rotate(-90deg);
            transform-origin: 50% 50%;
          }

          .progress-ring__track{
            opacity: .3;
            stroke: rgb(234, 234, 234);
          }

          .progress-ring__circle {

            stroke-width: 4px;
            transition: stroke-dashoffset 1s linear;
          }
        }
      }
    }

    .video-start {
      font-size: 16px;
    }

    .video-start-date {
      font-weight: 700;
    }
  }
}

