@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Medium.ttf') format('truetype'), url('./fonts/Montserrat-Medium.woff') format('woff'),
    url('./fonts/Montserrat-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
