.sp-container__wrapper {

  all: initial;
  display: block;
  font-family: 'Montserrat', sans-serif;

  * {

    all: unset

  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  &.fs-mode {
    position: fixed;
    left:0;
    right:0;
    top:0;
    z-index: 1000;

    .sp-container {
        .sp-video {
            border-radius: 0 !important;
        }
    }

  }

}

.sp-hidden {
  display: none !important;
}

.fs-body-fix {
  overflow:hidden;
  padding:0 !important;
}
